{% extends "base.html" %}

        
{% block content %}
        {% load staticfiles %}
        <link href="{% static 'lobby/style/profile.css' %}" rel="stylesheet">

<div class="welcome">

    <h1 class="profile">Welcome, {{ user }}</h1><br>
    <h2 class="form-submit-heading">What would you like to do?</h2>
    <form class="form-choice" action="choice/" method="post">
        {% csrf_token %}
        <button type="submit" name="import" class="btn btn-lg btn-primary">Import</button><br><br>
        <button type="submit" name="manage" class="btn btn-lg btn-primary">Manage</button><br><br>
        <button type="submit" name="group" class="btn btn-lg btn-primary">Group</button>

    </form>

</div>
         
{% endblock %}