<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Museum | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Brian Schmidt">
                    
    <!-- Le styles -->
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    {% load staticfiles %}
    <link href="{% static 'style/base.css' %}" rel="stylesheet">
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
        <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
</head>


<body style>

    <div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li><a href="/lobby/">Home</a></li>
            {% if logged_in %}
                <li><form class="form-logout" action="logged_out">
                    {% csrf_token %}
                <button class="btn btn-lg btn-primary" type="submit">Log out</button></li>
                </form>
            {% else %}
                <li><a href="/lobby/">Log in</a></li>
            {% endif %}
        </ul>
        <h3 class="muted">Neitz Lab: Physiology Museum</h3>
        
    </div>
    <hr>
    <div class="canvas">
    {% block content %}
    {% endblock %}
    </div>
    <br>
    <hr>

        
        <div class="footer">
            <p align="center">
            <a href="http://www.neitzvision.com/">Neitz Lab website</a><br>
            Contact: bps10 at uw dot com<br>
            © Neitz Lab 2013</p>
        </div>
        
    </div> <!-- /container -->
      
  

</body>
</html>