{% extends "base.html" %}

{% block content %}
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
	{% load staticfiles %}
	<link href="{% static 'lobby/style/profile.css' %}" rel="stylesheet">
{% if form.errors %}
<p>Authentication error</p>
{% endif %}

    
<div class="signin">
<form class="form-signin" action="{% url 'django.contrib.auth.views.login' %}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        {% csrf_token %}

        <input type="text" class="form-control" placeholder="username" autofocus="" name="username" maxlength="254"></input>
        <input type="password" class="form-control" placeholder="password" autofocus="" name="password" maxlength="254"></input>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
{% endblock %}