{% extends "base.html" %}

        
{% block content %}
{% load staticfiles %}
<link href="{% static 'exhibit/style/viewer.css' %}" rel="stylesheet">
<script src="{% static 'js/d3.js' %}" type="application/javascript"></script>
<script src="{% static 'js/jquery.js' %}" type="application/javascript"></script>

<label><input type="checkbox"> stimulus </label>

<h1 align="center"> Neuron Data Viewer </h1>
<span>
    
    {% if neuron_info.ID == 'cellID' %}
    <ul class="listArea"><b>cell list (click)</b>
	   <form action="{% url 'n_viewer' %}" method="post" enctype="multipart/form-data" class="form-submit">
    {% else %}
    <ul class="listArea"><b>epoch list (click)</b>
        <form action="{% url 'viewerarg' neuron_info.path %}" method="post" enctype="multipart/form-data" class="form-submit">   
    {% endif %}
        {% csrf_token %}
    	{% for cell in neuron_list %}
    	<li><button type="submit" name="{{ neuron_info.ID }}" value="{{ cell }}" class="cellBTN btn btn-sm">{{ cell }}</button></li>
    	{% endfor %}
    </ul>
</span>
<div class="plot"></div>

<script type="application/javascript">
    var neuronData = {{ neuron_data }},
        csrftoken = "{{ csrf_token }}";
</script>

<script src="{% static 'exhibit/js/viewer.js' %}" type="application/javascript">
</script>

<h3 align="center"> _______ </h3>


<h2 align="center">meta data</h2>
<div class="metaData"></div>


<h3 align="center"> _______ </h3>

<p> <em>Instructions.</em>  Zoom by selecting a section of the smaller trace or
toggle the stimulus current with the checkbox above.  Change the data to
 be plotted by clicking on one of the data selections.  This will also
update the meta data.</p>
<p> The program is a work in progress, certain aspects of
the data viewer are not complete.  Additionally, the formatting isn't perfect. Sometimes a refresh is necessary to get the elements back in order.</p>

{% endblock %}