{% extends "base.html" %}

        
{% block content %}
{% load staticfiles %}
<link href="{% static 'collection/style/upload.css' %}" rel="stylesheet">

<div class="form-upload">
<!-- Upload form. Note enctype attribute! -->
<form action="{% url "edit" %}" method="post" enctype="multipart/form-data" class="form-submit">
        {% csrf_token %}
        {{ form.as_p }}
        <p>{{ form.non_field_errors }}</p>
        <p> {{ form.docfile.help_text }}</p>
        <p>
        {{ form.docfile.errors }}
        </p>
        {% if form %}
                <br>
               <button type="submit" name="cancel" value="True" class="cellBTN btn btn-lg">Cancel</button>
        	<button type="submit" name="save" value="{{ cellID }}" class="cellBTN btn-lg btn-primary btn2">Submit</button>
 
        {% else %}
        	<h2>{{ message }}</h2>
        	<a href="{% url "query" %}">Return to edit / querying.</a>
        {% endif %}

</form>
</div>

{% endblock %}