{% extends "base.html" %}

        
{% block content %}
{% load staticfiles %}
<link href="{% static 'collection/style/query.css' %}" rel="stylesheet">

<h2 class="instructions">Select epochs</h2><br>
<div class="form-query">
<form action="{% url "group" %}" method="post" enctype="multipart/form-data" class="form-submit">
        {% csrf_token %}
        
        
        {{ form.as_p }}
        <p>{{ form.non_field_errors }}</p>
        <p> {{ form.docfile.help_text }}</p>
        <p>
        {{ form.docfile.errors }}
        </p>        

        <button type="submit" value="Upload" class="btn btn-lg btn-primary btn2">Query</button>
</form>
</div>
    {% if results %}
        <br>
        <br>
        <h2> Results </h2>
        <form action="{% url "make_group" %}" method="post" enctype="multipart/form-data" class="form-submit">
  
            {% csrf_token %}
        <label for="id_name">Name</label>
        <input type="text" id="name" name="name" value=""></input><br><br>
        <table >
		<tr>
        <th><input onchange="changeSelection()" type="checkbox" id="all_checkbox" name="all" value="all"></input></th>
        <th>date</th>
		<th>cell ID </th>
		<th>age</th>
		<th>quality </th>
		<th>species </th>
		<th>cell type </th>
		<th>stimulus class </th>
		</tr>
        
        {% for result in results %}
        	
            <tr><td><input class="ch" type="checkbox" name="cellID" value="{{ result.cellID }}"></input></td>
                <td>{{ result.date_recorded }}</td>
        		<td>{{ result.cellID }}</td>
        		<td>{{ result.age }}</td>
        		<td>{{ result.quality }}</td>
        		<td>{{ result.species }}</td>
        		<td>{{ result.cellType }}</td>
        		<td>{{ result.stimulusClass }}</td>
            
        	<tr>
                
        {% endfor %}

        </form>
       	</table>
        <br>
        <button type="submit" name="create" value="True" class="cellBTN btn btn-lg">Create</button>     
    {% endif %}
    <h2>{{ message }}</h2>

    <script language="javascript">
        function changeSelection(){
        value = document.getElementById("all_checkbox").checked
        var length = document.getElementsByClassName("ch").length;
        if(value == 1){
            for(var i = 0; i < length; i++) {
                document.getElementsByClassName("ch")[i].checked = true;
            };
        }
        else {
            for(var i = 0; i < length; i++) {
                document.getElementsByClassName("ch")[i].checked = false;
            };
        //document.getElementsByClassName("ch").options[0].selected = "";
        };
        };
    </script>

{% endblock %}