{% extends "base.html" %}

        
{% block content %}
{% load staticfiles %}
<link href="{% static 'collection/style/query.css' %}" rel="stylesheet">

<h2 class="instructions">Select field values for query</h2><br>
<div class="form-query">
<form action="{% url "query" %}" method="post" enctype="multipart/form-data" class="form-submit">
        {% csrf_token %}

        {{ form.as_p }}
        <p>{{ form.non_field_errors }}</p>
        <p> {{ form.docfile.help_text }}</p>
        <p>
        {{ form.docfile.errors }}
        </p>        

        <button type="submit" value="Upload" class="btn btn-lg btn-primary btn2">Query</button>
</form>
</div>
    {% if results %}
        <br>
        <br>
        <h2> Results </h2>
        <form action="{% url "query_redirect" %}" method="post" enctype="multipart/form-data" class="form-submit">
            {% csrf_token %}
        <table >
		<tr>
        <th> </th>
        <th>date</th>
		<th>cell ID </th>
		<th>age</th>
		<th>quality </th>
		<th>species </th>
		<th>cell type </th>
		<th>stimulus class </th>
		</tr>
        
        {% for result in results %}
        	
            <tr><td><input type="radio" name="cellID" value="{{ result.cellID }}"></input></td>
                <td>{{ result.date_recorded }}</td>
        		<td>{{ result.cellID }}</td>
        		<td>{{ result.age }}</td>
        		<td>{{ result.quality }}</td>
        		<td>{{ result.species }}</td>
        		<td>{{ result.cellType }}</td>
        		<td>{{ result.stimulusClass }}</td>
            
        	<tr>
                
        {% endfor %}

        </form>
       	</table>
        <br>
        <button type="submit" name="view" value="True" class="cellBTN btn btn-lg">View</button>
        <button type="submit" name="edit" value="True" class="cellBTN btn btn-lg">Edit</button>        
        <button type="submit" name="delete" value="True" class="delBTN btn btn-lg">Delete</button>
    {% endif %}
    <h2>{{ message }}</h2>
{% endblock %}