{% extends "base.html" %}

        
{% block content %}
{% load staticfiles %}
<link href="{% static 'collection/style/upload.css' %}" rel="stylesheet">

<div class="success-delete">

<h2>{{ message }}</h2>
{% if link == 'group' %}
	<a href="{% url "group" %}">Create another group.</a>
{% else %}
	<a href="{% url "query" %}">Return to query.</a>
{% endif %}

</div>

{% endblock %}