{% extends "base.html" %}

        
{% block content %}
{% load staticfiles %}
<link href="{% static 'collection/style/upload.css' %}" rel="stylesheet">

<div class="form-upload">
<!-- Upload form. Note enctype attribute! -->
<form action="{% url "upload" %}" method="post" enctype="multipart/form-data" class="form-submit">
        {% csrf_token %}
        {{ form.as_p }}
        <p>{{ form.non_field_errors }}</p>
        <p> {{ form.docfile.help_text }}</p>
        <p>
        {{ form.docfile.errors }}
        </p>
        {% if form %}
        	<input type="file" id="id_docfile" name="docfile" multiple>
        	<button type="submit" value="Upload" class="btn btn-lg btn-primary btn2">Import</button>
        {% else %}
        	<h2>{{ message }}</h2>
        	<a href="{% url "upload" %}">Import more files.</a>
        {% endif %}

</form>
</div>

{% endblock %}