body {
    margin: auto;
    width: 800px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

text {
    font: 20px sans-serif;
}

path {
    fill: none;
    stroke-width: 1.;

}

.cellBTN {
    min-width: 80px;
    color: white;
    background-color: #7eab76;
    border-color: #97bb91;
}

.listArea {
    position: fixed;
    top: 150px;
    right: 150px;
    overflow:auto;
    height:500px;

}
    
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

.line {
    stroke: steelblue;
}

.line2 {
    stroke: steelblue;
}

.line3 {
    stroke: #555;
}

.y.yAxis text {
    fill: orange;
}

.y.yAxis2 text {
    fill: steelblue;
}


.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

label {
    position: absolute;
    top: 635px;
    right: 800px;
}




