body {
  padding-top: 40px;
  padding-bottom: 40px;
  
}

.delBTN {
    position: relative;
    color: red;
    left: 520px;
}

#name {
    max-width: 170px;
}
.form-query {
	text-align: right;
    margin: 0 auto;
    max-width: 750px;
    line-height: 1;
    padding-right: 100px;
}

select {
    min-width: 170px;
}


table {
    font-size: 20px;
    font-family: "Helvetica";
    padding-right: 10px;
}

td,th,tr {
    padding-right: 10px;
    border-bottom: 1.5px solid #969696;
    text-align: center;
}


#id_docfile {
	padding-left: 400px;
}