body {
  padding-top: 40px;
  padding-bottom: 40px;
  
}

select {
    min-width: 200px;
}

input {
	max-width: 200px;
}
input#id_docfile{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 200px;
	min-width:800px;
}
.form-upload {
	text-align: right;
    margin: 0 auto;
    max-width: 750px;
    line-height: 1;
    padding-right: 250px;
}
